.container{
  width: 80%;
  margin: 0 auto;
}

header{
  position:fixed;
  top:0;right:0;left:0;
  z-index: 111;
  &.active{
    background: $white;
    box-shadow : 0px 0px 4px 0 $light-bg;
    padding: 8px;
  }
}

nav {
  display:flex;
  justify-content: space-between;
  // font-size:1.2rem;
  text-transform: capitalize;
  padding-top: $padding;
  a{
    color:$black;
  }
 }

nav .logo{
  color: $green;
}

nav > a{
  font-weight: bold;
  font-size: 1.3rem;
}


.right-nav {
  display: flex;
  gap:1rem;
}

.nav-ul{
  list-style-type: none;
  display:flex;
  gap:2rem;
  font-weight: 300;
  .nav-close{
    font-size:32px;
    cursor: pointer;
    color: $black;
    display:none;
  }
}

.nav-ul a:hover{
  color: $green;
  // font-weight: bold;
}

.right-nav .cart-nav {


  a{
    margin-left: $margin;
    &.menu-btn{
      display:none;
    }
  }
}

// end of header


// start of header content
.header-content .content-div{
  min-height:100vh;
  background-size: cover;
  background-position: 53% 50%;
  display: flex;
  align-items: center;
}

.header-content .content{
  width:45%;
  margin-left:auto;
}

.header-content .content.second{
  margin-left:0;
}

.content .content-heading1{
  font-size: 24px;
  font-weight: 300;
}

.content h1{
  color: $green;
}

.content .content-para{
  font-size: 11px;
  font-weight: 300;
}




.content > *{
  margin-bottom:12px;
}


.swiper-button-prev::after,.swiper-button-next::after{
  font-size: 32px;
  // opacity: 0;
  color: $green;
}

.swiper-button-prev:hover::after,.swiper-button-next:hover::after{
  // opacity: 1;
  color: $black;
  }
// end of header content

//search form start

.search{
  // display: none;
  z-index: 200;
  position:fixed;
  top:0;right:0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.9);
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-110%);
  &.active{
    transform: translateY(0%);
  }
}

.close-search{
  position:absolute;
  top:0;
  position: absolute;
  top: 16px;
  right: 24px;
  color: white;
  font-size: 32px;
  cursor: pointer;
  &:hover{
    color: $green;
  }
}

form{
  width:50%;
  display: flex;
  border-bottom: 2px solid $white;
  align-items: center;
  #search-box{
    width:100%;
    background: transparent;
    border:none;
    color: $white;
    padding: 8px 24px 8px 8px;
    font-size:16px ;
    &::placeholder{
      color:white;
    }
    &:focus{
      outline: none;
    }
  }
  .search-icon{
    color:white;
    cursor:pointer;
  }
}
//search form ends


// category cards start
.category{
  margin:24px 0;
   h2{
    text-align: center;
    margin-bottom: 24px;
  }
}

.category-cards-div{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  gap:16px;
  img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}

.category-card{
  h3{
    color:$green;
    margin-bottom: $margin;
  }
  p{
    font-size: 12px;
    line-height: 24px;
    margin-bottom: $margin*2;
  }
}

// category cards end


// about section starts
.about{
  background-color: $light-bg;
  padding:32px 0;
  .img-div{
    padding-right: 24px;
    padding-bottom: 24px;
    img{
      width:100%;
      height: 100%;
      box-shadow: 23px 23px rgba(0,0,0,0.1)
      }
    }
  }


.about-div {
  display:flex;
  gap:16px;
  align-items: center;
  &> div{
    width:50%;
  }
}

.about-right {
  h2{
    color:$green;
    margin-bottom: $margin;
  }
  &>p{
    font-size: 12px;
    line-height: 18px;
    margin-bottom: $margin;
  }
  &>p:last-of-type{
    margin-bottom: $margin*2;
  }
}
// about section ends


// feature product starts


.featured{
  padding: 32px 0;
  h2{
    text-align: center;
    padding-bottom: 32px;
  }
}
.feature-card{
  // width:25%;
  height: 100%;
  border:1px solid black;
  &:hover .product-img-div .icons{
    // display:block;
    transform: translateY(-15px)
  }
}
.product-img-div {
  // width: 25%;
  height: 70%;
  position: relative;
  overflow: hidden;
  img{
    width:100%;
    height: 100%;
    object-fit: cover;
    // position:absolute;
  }
  .icons{
    position:absolute;
    width:100%;
    bottom: 0px;
    text-align: center;
    transform: translateY(40px);
    // display: none;
    a{
      padding: 4px;
      color: white;
      background: black;
      &:hover{
        background:$green;
      }
    }
  }
}

.price-detials{
  height: 30%;
  text-align:center;
  padding:$padding;
  .price{
    color:$green;
  }
}
// feature product ends

// popular pacage starts

.popular {
  background: $light-bg;
  padding: 32px 0;
  h2{
    text-align: center;
    margin-bottom: 32px;
  }
}

.popular-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:16px;
  .popular-card{
    text-align: center;
    border:1px solid black;
    padding: 16px;
    img{
      width:100%;
    }
    &:hover{
      background-color: $black;
      color: $white;
    }
    &:hover .btn{
      border-color:$white;
      color:$white
    }
    .btn:hover{
      background-color: white;
      color:black;
    }
  }
}

.popular-content{
  p{
    font-size:11px;
    margin-bottom:12px;
  }
  .price{
    color:$green;
    font-size:16px;
    margin-bottom: 12px;
  }
}
// popular package ends


// reviews starts
.reviews{
  padding:32px 0;

  h2{
    padding-bottom: 32px;
    text-align: center;
  }
}

.review-content{
  .review{
    position:relative;
    background-color: $light-bg;
    border-radius:4px;
    padding:8px;
    p{
      font-size:14px;
      font-weight:300;
      padding:8px;

    }
    &::after{
    content: "";
    position: absolute;
    bottom: -9px;
    left: 4px;
    height: 20px;
    width: 20px;
    /* rotate: 45deg; */
    transform: rotate(45deg);
    background: $light-bg
    // z-index: 10;

    }
  }
  .user{
    margin-top:18px;
    display: flex;
    gap: 8px;
    img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    }
    p.title{
      font-size: 13px;
      color:$green;
    }
  }
}
// reviews ends

// offer starts
.offers{
  padding:32px 0;
  background-color: $light-bg;
  h2{
    text-align: center;
    padding-bottom: 32px;
  }
  .offer-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:16px;
    text-align: center;
   .offer-cards{
    padding:12px;
    border:1px solid $black;
    .offer-img{
      width: 27%;
      margin: 0 auto;
      img{
        width:100%;
      }
    }
    h4{
      color:$green;
      margin-bottom: 8px;
    }
    p{
      font-size:13px;
      font-weight: 300;
      margin-bottom: 16px;
    }
    &:hover{
      background-color: $black;
      color:$white;
      img{
        filter: invert(1);
      }
      .btn{
        border-color: white;;
        color: $white;
      }
    }
    .btn:hover {
      background-color: $white;
      color:$black;
    }
   }
  }
}

// offer ends


// daily starts
.daily{
  padding:32px 0;
  text-align: center;
  h2{
    padding-bottom: 32px;
  }
  .daily-cards{
    .daily-img{
      // width:30%;
      // position: relative;
      img{
        width:100%;
      }
      .date-div{
        position:relative;
        top:-21px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin: 0 auto;
        background: black;
        color: white;
        border-radius: 4px;
        padding: 5px;
        p{
          font-size: 10px;
          font-weight: bold;
          span{
            color:$green;
            margin-right:4px;
          }
        }
      }
    }
    h5{
      margin-bottom: 8px;
          }
    &>p{
      font: 13px;
      margin-bottom: 16px;
      font-weight: 300;
    }

    .btn:hover{
      background: $black;
      color: $white;
    }

  }

}
// daily ends

// subscribe starts
.subscribe{
  background-color: $light-bg;
  padding:32px 0;
  .subscribe-div{
    text-align: center;
    width: 51%;
    margin: 0 auto;

    h2{
      margin-bottom: 16px ;
    }
    p{
      font-size: 13px;
      font-weight: 300;
      margin-bottom: 8px;
    }
    .subscribe-btn{
      border:1px solid $black;
      border-radius: 50px;
      padding:5px 0;

      input[type="text"] {
        background: transparent;
        width: 49%;
        padding: 4px;
        font-size: 13px;
        border: none;
        outline:none;
      }
      .btn-subscribe {
        width:43%;
        color: white;
        background: black;
        padding: 6px 10px;
        border-radius: 50px;
        // margin-right:-16px;
        cursor: pointer;
        border:1px solid black;
        &:hover{
          background-color: $light-bg;
          color:$black;
          // border:1px solid black;
        }
      }
    }
  }
}
// subscribe ends

// client starts
.clients {
  padding: 32px 0;
  .client-img{
    width:80%;
    img{
      width:100%;
    }
  }
}
// clinet ends


// footer starts
footer{
  background: rgb(3,3,3);
  background: linear-gradient(90deg, rgba(3,3,3,1) 6%, rgba(59,58,58,1) 89%);
  // background-image: url("image/footer-bg.jpg");
  background-size: cover;
  background-position: 50% 50%;
  padding:32px 0;
  color: $white;
  .link-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    h4{
      margin-bottom: 8px;
    }
    a{
      display: block;
      text-decoration: none;
      color: $white;
      font-size:13px;
      margin-bottom: 8px;
      i{
        color: $green;
        margin-right:6px;
      }
      &:hover{
        color:$green;
        i{
          margin-right: 12px;
        }
      }

    }
  }
  & > p{
    text-align: center;
    margin-top:16px;
    .green{
      color:$green;
    }
  }

}
// footer ends




// media queires

@media(max-width:1000px){
  .nav-ul{
    gap:1rem;
  }
}

@media(max-width:768px){
  .right-nav .cart-nav a.menu-btn {
      display: inline-block;
  }

  ul.nav-ul {
    position: fixed;
    top: 0;
    left: -110%;
    background: white;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:56px;
    a{
      font-size:24px;
    }
    .nav-close{
      display:inline-block;
      position:absolute;
      top:0;
      right:18px;
    }
    &.active{
      left:0;
    }
  }
  .category-cards-div{
    grid-template-columns: 1fr 1fr;
  }

  .daily .daily-cards .daily-img .date-divhe{
    top:-32px;
    padding: 16px;
    p{
      font-size:12px;
    }
  }

  .about-right {
    font-size:65%;
  }

  .product-slider{
    height:300px;
  }

  .popular-container{
    grid-template-columns: 1fr 1fr;
  }

  .offers .offer-container{
    grid-template-columns: 1fr 1fr;
  }

  .links .link-container{
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    text-align: center;
    gap:24px;
  }

  .about{
    .container{
      width:70%;
      .about-div{
        flex-direction: column;
        padding:16px;
        .about-right{
          text-align: center;
          .btn{
            display: block;
            margin:0 auto;
          }
        }
        &>div{
          width:100%;
        }
      }
    }

  }

}

@media(max-width:480px){
  .header-content{

    .content-div{
      background-position: 98% 50%;
      .container{
        display:flex;
        justify-content: center;
        .content{
          margin:0;
          font-size:75%;
          text-align: center;
          & > *{
            margin-bottom: 4px;
          }
        }
      }
    }
    .second-content-div{
      background-position: 0% 50%;
    }
  }

  .category{
    .category-cards-div{
      grid-template-columns: 1fr;
      .category-card{
        img{
          width:120px;
          height: 120px;
        }
        p{
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  .popular{
    .popular-container{
      grid-template-columns: 1fr;
    }
  }

  .offers{
    .offer-container{
      grid-template-columns: 1fr;
    }
  }

  .clients{
    .client-slider{
      height: 100px;
      .client-img{
        width:100%;
        height: 100%;
        img{
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  .links{
    .link-container{
      grid-template-columns: 1fr;
    }
  }

  .subscribe{
    .container{
      width:100%;
      .subscribe-div{
        width:80%;
        .subscribe-btn{
          input[type=text]{
            width:53%;
          }
          .btn-subscribe{
            width:42%;
          }
        }
      }
    }
  }
  .about{
    .container{
      width:100%;
    }
  }


}


















// /* clears the 'X' from Internet Explorer */
// input.hide-clear[type=search]::-ms-clear,
// input.hide-clear[type=search]::-ms-reveal {
//   display: none;
//   width: 0;
//   height: 0;
// }

// /* clears the 'X' from Chrome */
// input.hide-clear[type="search"]::-webkit-search-decoration,
// input.hide-clear[type="search"]::-webkit-search-cancel-button,
// input.hide-clear[type="search"]::-webkit-search-results-button,
// input.hide-clear[type="search"]::-webkit-search-results-decoration {
//   -webkit-appearance:none;
// }
