// colors
$green: #219150;
$black: #10221b;
$white: #fff;
$light-bg:#eee;


//padding

$padding: 0.5rem;
$margin: 0.5rem;

//border
$border:.2rem solid $black;

//box-shadow
$box-shadow:0 0.5rem 1rem rgba(0,0,0,.1)
